@import url(http://fonts.googleapis.com/css?family=Lato:300,700);

@font-face {
    font-family: 'LeviReBrushed';
    src: url(../fonts/levibrush-webfont.ttf);
}

* {
	margin: 0;
	padding: 0;
}

html, body{
    background-color: #221A43;
    height: 100%;
    width: 100%;
    overflow-y:hidden;
}

#logo{
    margin: auto;
    display: block;
    height: 4.5em; /* 5em */
    margin-top: 2em; /* 2em */
}

h1{
    font-family: Lato;
    font-weight: 700;
    font-size: 2em;
    color: #FFFFFF;
    text-transform: uppercase;
    letter-spacing: 0.4em;
    text-align: center;
    margin-top: 1em;
}

p{
    font-family: Lato;
    font-weight: 300;
    font-size: 1em;
    color: #FFFFFF;
    opacity: 0.34;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    text-align: center;
    margin-top: 1em;
}

img {
    display: block;
    margin: auto;
    height: 11em;
}

.carousel{
    margin-top: 11em;
}

.view{
    position: absolute;
    top:10em;
    bottom:8em;
    left:2em;
    right:2em;
}

.panel{
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    overflow-x:hidden;
    -webkit-overflow-scrolling:touch;
}


.space{
    height: 15%;
}

/* ------------ STYLE DU GOBAN ------------ */

#game{

}

/* Timer end game */

#timer
{
    padding-top: 5%;
}


/* ------- AFFICHAGE DES SCORES ------ */
.scorep1, .scorep2 {
    display: inline-block;
    width: 22%;
    vertical-align: top;  
    margin-top: -8%;
}

.scorep1
{
    margin-left: 3%;
}

.scorep2
{
    margin-right: 3%;
}

.scorep1 > h1, .scorep2 > h1{
	color: #ffffff;
	opacity: 0.2;
	font-size: 16em;
	font-weight: 700;
	text-align: center;
    letter-spacing: 0em;
    vertical-align: top;
}

.scorep1 > p, .scorep2 > p{
	font-family: 'Lato';
	color: white;
	opacity: 1;
	font-size: 1.5em;
    text-align: center;
}

.goban{
    margin: auto;
    width: 49%;
    display: inline-block;
}

#goban_back /* Image */
{
    height: 30em;
    margin: auto;
    margin-top: 5em;
}

#goban_front /* Invisible Goban */
{
    height: 33.7em;
    width: 33.7em;
    margin: auto;
    display: block;
    position: relative;
    top: -32em;
    left: -4.9em;
}

.front /* Case of Goban */
{
    width: 3.74em;
    height: 3.74em;
    float: left;
    cursor: pointer;
}

.player1
{
    width: 2em;
    height: 2em;
    margin: auto;
    border-radius: 50%;
    background-color: #e3e3e3;
}

.player2
{
    width: 2em;
    height: 2em;
    margin: auto;
    border-radius: 50%;
    background-color: #ec424e;
}

.player1, .player2
{
    margin-top: 1em;
}


/* Fin de jeu */

#divEnd {
    position:absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: none;
    -webkit-user-select: none;
    background-color: rgba(0, 0, 0, 0.7);
    background-attachment:fixed;
    padding:0px;
    text-transform:uppercase;
}

.divEnd {
	display: none;
}

#playerwin{
	font-family: 'LeviReBrushed';
	font-size: 8em;
	color: #FFFFFF;
	letter-spacing: 0em;
	margin-top: 2em;
}

#winner{
	font-size: 2em;
	margin-top: 0em;
	font-weight: 700;
	opacity: 1;
	color: #FF5E00;
}

.social{
	width:310px;
	margin:auto;
	margin-top:3em;
}

#twitter{
	border: 2px solid #4099FF;
    background-color:#4099FF;
    color:white;
    width:150px;
    height:40px;
    font-family: 'Lato', sans-serif;
    font-weight:300;
    font-size:20px;
	top:50px;

}

#facebook{

	border: 2px solid #3D62B3;
    background-color:#3D62B3;
    color:white;
    width:150px;
    height:40px;
    font-family: 'Lato', sans-serif;
    font-weight:300;
    font-size:20px;

}

/* Combo */

#combo 
{
    position:absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: none;
    -webkit-user-select: none;
    background-color: rgba(0, 0, 0, 0.7);
    background-attachment:fixed;
    padding:0px;
    text-transform:uppercase;
}

#combo h1
{
    font-family: 'LeviReBrushed';
    font-size: 8em;
    color: #FFFFFF;
    letter-spacing: 0em;
    margin-top: 2em;
}

#combo
{
    display: none;
}

#comboDescr
{
    font-size: 2em;
    margin-top: 0em;
    font-weight: 700;
    opacity: 1;
    color: #FF5E00;
}

.close
{
    border: 2px solid #4099FF;
    background-color:#4099FF;
    color:white;
    width:150px;
    height:40px;
    font-family: 'Lato', sans-serif;
    font-weight:300;
    font-size:20px;
    top:50px;
    display: block;
    margin: 3% auto auto;
    cursor: pointer;
}

/* Rules */

.rules_main {
    margin-top:80px;
}

#rules_first, #rules_two, #rules_three, #rules_three_bis, #rules_four {
    height:300px;
}

#liberte, #chaine, #chaine_prise {
    float:left;
    margin-right:20px;
}

#prise, #chaine_bis, #chaine_prise_bis {
    float:right;
    margin-left:20px;
}

#rules_first > h3 {
    font-family: 'Lato', sans-serif;
    color:white;
    text-align:left;
}

.p_orange1 {
    font-family: 'Lato', sans-serif;
    font-weight:300;
    opacity:0.8;
    color:#ff5330;
    font-size:15px;
    text-align:right!important;
}

#rules_first > p {
    text-align:left;
}

#rules_two > h3 {
    font-family: 'Lato', sans-serif;
    color:white;
    text-align:right;
}

#rules_three > h3 {
    font-family: 'Lato', sans-serif;
    color:white;
    text-align:left;
}

#rules_three_bis > h3 {
    font-family: 'Lato', sans-serif;
    color:white;
    text-align:right;
}

#rules_four > h3 {
    font-family: 'Lato', sans-serif;
    color:white;
    text-align:left;
}

.p_orange2 {
    font-family: 'Lato', sans-serif;
    font-weight:300;
    opacity:0.8;
    color:#ff5330;
    font-size:15px;
    text-align:left!important;
}

#rules_two > p {
    text-align:right;
}

#rules_three > p {
    text-align:left;
}

#rules_three_bis > p {
    text-align:right;
}

#rules_four > p {
    text-align:left;
}