@import url(http://fonts.googleapis.com/css?family=Lato:300,700);

@font-face {
    font-family: 'LeviReBrushed';
    src: url(../fonts/levibrush-webfont.ttf);
}

* {
	margin: 0;
	padding: 0;
}

html, body{
    background-color: #221A43;
    height: 100%;
    width: 100%;
    overflow-y:hidden;
}

#logo{
    margin: auto;
    display: block;
    height: 4.5em; /* 5em */
    margin-top: 2em; /* 2em */
}

/* ---------------------
----- INDEX.HTML ----
--------------------- */

h1{
    font-family: Lato;
    font-weight: 700;
    font-size: 2em;
    color: #FFFFFF;
    text-transform: uppercase;
    letter-spacing: 0.4em;
    text-align: center;
    margin-top: 1em;
}

.carousel p{
    font-family: Lato;
    font-weight: 300;
    font-size: 1em;
    color: #FFFFFF;
    opacity: 0.34;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    text-align: center;
    margin-top: 1em;
}

img{
    display: block;
    margin: auto;
    height: 11em;
}

.carousel{
    margin-top: 11em;
}

/* ---------------------
----- GAME.HTML ----
--------------------- */

/* ------------ STYLE DU GOBAN ------------ */

.goban{
    margin: auto;
    width: 49%;
    display: inline-block;
}

#goban_back{
    height: 30em;
    margin: auto;
    margin-top: 3em;
}

#goban_front{
    height: 33.7em;
    width: 33.7em;
    margin: auto;
    display: block;
    position: relative;
    top: -31.9em;
    right: 0.25em;
}

.front{
    width: 3.74em;
    height: 3.74em;
    float: left;
    cursor: pointer;
}

.player1{
    width: 2em;
    height: 2em;
    border-radius: 50%;
    background-color: #e3e3e3;
}

.player2{
    width: 2em;
    height: 2em;
    border-radius: 50%;
    background-color: #ec424e;
}

.player1, .player2{
    margin-top: 1em;
}


/* ------- AFFICHAGE DES SCORES ------ */


.scorep1, .scorep2 {
    display: inline-block;
    width: 22%;
    vertical-align: top;
}

.scorep1{
    margin-left: 3%;
}

.scorep2{
    margin-right: 3%;
}

.scorep1 > h1, .scorep2 > h1{
	color: #ffffff;
	opacity: 0.2;
	font-size: 10em;
	font-weight: 700;
	text-align: center;
    letter-spacing: 0em;
    vertical-align: top;
}

.scorep1 > p, .scorep2 > p{
	font-family: 'Lato';
	color: white;
	opacity: 1;
	font-size: 1.5em;
    text-align: center;
}

/* ------- COMBO ------ */

#combo{
    position:absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: none;
    -webkit-user-select: none;
    background-color: rgba(0, 0, 0, 0.7);
    background-attachment:fixed;
    padding:0px;
    text-transform:uppercase;
}

#combo h1{
    font-family: 'LeviReBrushed';
    font-size: 7em;
    color: #FFFFFF;
    letter-spacing: 0em;
    margin-top: 2.5em;
}

#combo p{
    font-family: 'Lato';
    font-weight: 700;
	color: #FF5E00;
	opacity: 0.8;
	font-size: 1.2em;
    text-align: center;
}

#combo{
    display: none;
}

.close{
    background: #EC6945;
    border-radius: 40px;
    border: none;
    margin: auto;
    display: block;
    padding:19px 40px 19px 40px;
    font-family: Lato;
    font-weight: 300;
    font-size: 1em;
    color: #FFFFFF;
    opacity: 1;
    letter-spacing: 0.2em;
    text-align: center;
    margin-top: 3em;
}


/* ------- FIN DE JEU ------ */

#divEnd{
    position:absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: none;
    -webkit-user-select: none;
    background-color: rgba(0, 0, 0, 0.7);
    background-attachment:fixed;
    padding:0px;
    text-transform:uppercase;
}


.divEnd{
	display: none;
}

#playerwin{
	font-family: 'LeviReBrushed';
	font-size: 8em;
	color: #FFFFFF;
	letter-spacing: 0em;
	margin-top: 2em;
}


#winner{
	font-size: 2em;
    font-family: 'Lato', sans-serif;
    text-align: center;
	margin-top: 0em;
	font-weight: 700;
	opacity: 1;
	color: #FF5E00;
}

.social{
	width:351px;
	margin:auto;
	margin-top:3em;
}

#twitter{
    background: #4099FF;
    border-radius: 40px;
    border: none;
    color:white;
    padding:13px 45px 13px 45px;
    font-family: 'Lato', sans-serif;
    font-weight:300;
    font-size:20px;
	top:50px;
    text-align: center;
}

#facebook{
    background: #3D62B3;
    border-radius: 40px;
    border: none;
    color:white;
    padding:13px 45px 13px 45px;
    font-family: 'Lato', sans-serif;
    font-weight:300;
    font-size:20px;
	top:50px;
    text-align: center;
    margin-left: 20px;
}

#return{
    background: #EC6945;
    border-radius: 40px;
    border: none;
    margin: auto;
    display: block;
    padding:13px 147px 13px 147px;
    font-family: Lato;
    font-weight: 300;
    font-size: 20px;
    color: #FFFFFF;
    opacity: 1;
    text-align: center;
    margin-top: 1em;
}

/* ---------------------
----- RULES.HTML ----
--------------------- */

.view{
    position: absolute;
    top:10em;
    bottom:3em;
    left:4em;
    right:4em;
}

.panel{
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    overflow-x:hidden;
    -webkit-overflow-scrolling:touch;
}

h3{
    font-family: Lato;
    font-weight: 700;
    font-size: 1.2em;
    color: #FFFFFF;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    text-align: center;
    margin-top: 2em;
}

.panel img{
    margin-top: 2em;
    width: 20em;
    height: 20em;
}

.panel p{
    font-family: Lato;
    font-weight: 300;
    font-size: 1em;
    color: rgba(255, 255, 255, 0.37);
    text-transform: none;
    letter-spacing: 0em;
    text-align: center;
    margin-top: 2em;
}

#orange{
    color: #EC6945;
}


/* ---------------------
----- ONLINE.HTML ----
--------------------- */

.pseudo h1{
    margin-top: 4em;
}

.pseudo p{
    font-family: Lato;
    font-weight: 300;
    font-size: 1em;
    color: #FFFFFF;
    opacity: 0.34;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    text-align: center;
    margin-top: 1em;
}

.pseudo input{
    background: #1C1537;
    border-radius: 40px;
    border: none;
    margin: auto;
    display: block;
    width: 30%;
    padding:19px 25px 19px 25px;
    font-family: Lato;
    font-weight: 300;
    font-size: 1em;
    color: #FFFFFF;
    opacity: 0.70;
    letter-spacing: 0.2em;
    text-align: center;
    margin-top: 6em;
}

.pseudo button{
    background: #EC6945;
    border-radius: 40px;
    border: none;
    margin: auto;
    display: block;
    padding:19px 25px 19px 25px;
    font-family: Lato;
    font-weight: 300;
    font-size: 1em;
    color: #FFFFFF;
    opacity: 1;
    letter-spacing: 0.2em;
    text-align: center;
    margin-top: 6em;
}

/* ------- SELECTION PLAYER -------- */

.selectplayer{
    width: 80%;
    margin: auto;
    display: none;
}

.selectplayer h1{
    margin-top: 2em;
}

.selectplayer p{
    font-family: Lato;
    font-weight: 300;
    font-size: 1em;
    color: #FFFFFF;
    opacity: 0.34;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    text-align: center;
    margin-top: 1em;
}

.user{
    margin-left: 2em;
}

.selectplayer img{
    display: inline-block;
    height: 7em;
    width: 7em;
    margin-left: 2em;
    margin-top: 3em;
}

/* ------- ABONNEMENT PREMIUM -------- */

.beta{
    display: none;
}

.beta h1{
    margin-top: 6em;
}

.beta button{
    background: #EC6945;
    border-radius: 40px;
    border: none;
    margin: auto;
    display: block;
    padding:19px 25px 19px 25px;
    font-family: Lato;
    font-weight: 300;
    font-size: 1em;
    color: #FFFFFF;
    opacity: 1;
    letter-spacing: 0.2em;
    text-align: center;
    margin-top: 3em;
}

.beta p{
    font-family: Lato;
    font-weight: 300;
    font-size: 1em;
    color: #FFFFFF;
    opacity: 0.34;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    text-align: center;
    margin-top: 2em;
}
