* {
	margin: 0;
	padding: 0;
}

html, body{
    background-color: #221A43;
    height: 100%;
    width: 100%;
    overflow-y:hidden;
}

#logo{
    margin: auto;
    display: block;
    height: 4.5em; /* 5em */
    margin-top: 2em; /* 2em */
}

h1{
    font-family: Lato;
    font-weight: 700;
    font-size: 2em;
    color: #FFFFFF;
    text-transform: uppercase;
    letter-spacing: 0.4em;
    text-align: center;
    margin-top: 1em;
}

p{
    font-family: Lato;
    font-weight: 300;
    font-size: 1em;
    color: #FFFFFF;
    opacity: 0.34;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    text-align: center;
    margin-top: 1em;
}

img {
    display: block;
    margin: auto;
    height: 11em;
}

.carousel{
    margin-top: 11em;
}

.view{
    position: absolute;
    top:10em;
    bottom:8em;
    left:2em;
    right:2em;
}

.panel{
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    overflow-x:hidden;
    -webkit-overflow-scrolling:touch;
}

/* ------------ STYLE DU GOBAN ------------ */

#goban_back /* Image */
{
    height: 30em;
    margin: auto;
    margin-top: 18em;
    padding-top: 150px;
}

#goban_front /* Invisible Goban */
{
    height: 33.7em;
    width: 33.7em;
    margin: auto;
    display: block;
    position: relative;
    top: -32em;
}

.front /* Case of Goban */
{
    width: 3.74em;
    height: 3.74em;
    float: left;
    cursor: pointer;
}

.player1
{
    width: 2em;
    height: 2em;
    margin: auto;
    border-radius: 50%;
    background-color: #e3e3e3;
}

.player2
{
    width: 2em;
    height: 2em;
    margin: auto;
    border-radius: 50%;
    background-color: #ec424e;
}

.player1, .player2
{
    margin-top: 1em;
}
