<?xml version='1.0' encoding='utf-8'?>
<widget id="com.gogame.ios" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>GoGame</name>
    <description>
        A Simple
    </description>
    <author email="dev@gogame.com" href="http://gogame.io">
        GoGame Team
    </author>
    <content src="index.html" />

    <preference name="SplashScreenDelay" value="10000" />

    <preference name="TopActivityIndicator" value="white"/>

    <preference name="AutoHideSplashScreen" value="true" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="UIWebViewBounce" value="false" />

    <preference name="Orientation" value="landscape" />

    <preference name="StatusBarOverlaysWebView" value="true" />
    <preference name="StatusBarStyle" value="lightcontent" />

    <feature name="SocialSharing">
        <param name="ios-package" value="SocialSharing" />
    </feature>

    <access origin="*" />
</widget>
