.main_bloc
{
	width: 2048px;
	height: 1536px;
	background-color: #101421;
}

#logo
{
	display: block;
	width: 30%;
	margin: auto;
}

#goban_back
{
	width: 	1200px;
	height: 1200px;
	margin: auto;
	margin-top: 50px;
}

#goban_front
{
	width: 	1350px;
	height: 1350px;
	margin: auto;
	top: -1275px;
	position: relative;	
}

.back
{
	width: 146px;
	height: 146px;
	border: 2px solid white;
	float: left;
}

.front
{
	width: 146px;
	height: 146px;
	float: left;
	cursor: pointer;
	border: 2px solid yellow;
}

.test img
{
	width: 100%;
	position: relative;
	top: -75px;
	left: -75px;
}

.pink, .blue
{
	width: 100%;
}

.player1
{
	width: 80%;
	height: 80%;
	margin: auto;
	border-radius: 50%;
	background-color: #70E1FC;
}

.player2
{
	width: 80%;
	height: 80%;
	margin: auto;
	border-radius: 50%;
	background-color: #D82EA4;	
}

alignment
auto file name
css comb
live reload
color pick